.nav {
    @media (min-width: 1120px) {
        margin-left: 308px;
    }

    &__container {
    width: 90%;
    margin: 24px auto;
    margin-bottom: 8px;
    
    @media (min-width: 340px) {
        margin-left: 16px;
        margin-right: 16px;
    }

    @media (min-width: 530px) {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1120px) { 
        margin-top: 35px;
        margin-bottom: 16px;
    }
    
}
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;

        @media (min-width: 1120px) {
            margin: 0;
        }

        }
    
    &__box {   
        @media (min-width: 1120px) {
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;
        }
    }

    &__list {
        overflow-x: scroll;
        white-space: nowrap;

        @media (min-width: 1120px) {
            overflow-x: auto;
            white-space: normal; 
        }


        &--hidden {
            display: none;
            
            & .nav__item {
                border:none;
                background-color: $bgColor;
                &:hover {
                    border: none;
                    background-color: $bgColor;
                }
                & .nav__button {
                    background-color: $bgColor;
                }
            }

            @media (min-width: 1120px) {
                display:block;
            }
        }
    }

    &__button {
        padding-right: 32px;

        @media (min-width: 1120px) {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & img {
        @media (min-width: 1120px) {
            padding-left: 8px;
        }
    }

    &__item {
        display: inline-block;
        padding: 8px 9px;
        margin-left: 8px;
        border: 2px solid transparent; 

        &:last-child .nav__button {
            @media (min-width: 1120px) {
                padding-right: 0;
            }
        }

        &:hover {
            border: 2px solid $dgnBorderColor;
            border-radius: 6px;
            background-color: $altBgColor;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        color: $altText;
        line-height: 24px;
    }
    
    &::before {
        content:'';
        position: absolute;
        width:40px;
        height: 4px;
        background-color: $dgnColor;
        border-radius: 5px 5px 0 0;
        transform: rotate(90deg) translate(15px, 18px);

        @media (min-width: 1120px) {
            transform: rotate(90deg) translate(25px, 18px);
        }
    }
}

