$bgColor: #F8F8F8;
$altBgColor: #FFFFFF;
$text: #1B1C21;
$altText: #7E7E82;
$dgnBorderColor: #B8FFEC;
$altDgnBorderColor: #EAEAEA;
$dgnColor: #41F6D7;
$btnColor: #FF3E79;
$gradient: linear-gradient(to right, #F8F8F8, #FFFFFF);


$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1120;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;